<div class="global-wrapper">
  <div class="first">
    <input class="input-field" type="text" [(ngModel)]="valueBase">
    <input class="input-field" type="text" [(ngModel)]="valueQuote">

    <button class="subscribe" (click)="subscribe()">Subscribe</button>
  </div>
  <div class="second" *ngIf="!rateService.loading">
    <div class="symbol">{{ rateService.assetIdBase }} / {{ rateService.assetIdQuote }}</div>
    <div class="rate">{{ rateService.rates[rateService.rates.length - 1]?.rate }}</div>
    <div class="time">{{ lastRateTime }}</div>
  </div>
  <div class="chart-wrapper">
    <canvas id="rate-chart"></canvas>
  </div>
</div>

<app-spinner *ngIf="rateService.loading"></app-spinner>
